*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*{
    font-family: 'Amatic SC', cursive;
    font-size: 8vh;
    color: rgb(218, 180, 84);
}
body,
html{
    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    align-items: center;  
    background-color:rgb(216, 35, 35)
}


div.sketcher-wrap{
    height: 60vh;
    width: 50vw;
    min-width: 600px;
    position: relative;
    background-color: gray;
}

div.container-grid{
    display: grid;
    height: 100%;
    width: 100%;
    outline-color:black;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 7px;

}

div.grid-cell{
    border-radius: 5px;
    

}
    
div.buttons{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
   
}

div.circle{
    background-color: rgb(234, 220, 220);
    border-radius: 100px;
    height: 15vh;
    width: 15vh;
    outline-style: solid;
    outline-color: gray;
    outline-width: 2px;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;
}

div.left{
    margin-right: 5vw;
}
div.right{
    margin-left: 5vw;
}

div.img-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 75%;
    width: 100%; 
}

button{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 10vw;
    height: 8vh;
    border-style: none;
    transition: all .07s ease;
    font-size: 25%;

}

div.choices{
    display: flex;
    flex-direction: column;

}

.hovered{
    transform: scale(1.1);
}

img{
    background-color: transparent;
    width: auto;
    height: 100%;
}

div.bottom-section{
    display: flex;
    margin:  20px;
    height: 15vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

div.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25%;

}

input.slider{
    width: 20vh;
    appearance: none;
    background-color: rgb(218, 180, 84);
    border-radius: 30px;
    height: 10px;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    cursor: pointer;
    background-color: rgb(234, 220, 220);
    border-radius: 20px;
    height: 36px;
    width: 16px;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;

}

div.slider-io{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}

div.slider-io div.input{
    display: flex;
    flex-direction: column;
}

div.slider-io p.output{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40%;
}